Этюд "Из SQL в Python": 
select count(*) as cnt, sum(id_driver) as sum_id_driver, id_city, id_tariff from df where assign_time is not null and order_time≥'2021-07-05' group by id_city, id_tariff

In [ ]:
df1 = df[(df['order_time'] > '2021-07-05') 
           & (df['assign_time'].notnull())].groupby(['id_city', 'id_tariff']).agg({
                                                'assign_time': 'count'
                                                , 'id_driver': 'sum'
                                                }).reset_index().rename(columns={'assign_time':'cnt'
                                                 , 'id_driver': 'sum_id_driver'
                                                 })