In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/oftve/Downloads/airportvisit.csv')

In [36]:
#  задача функции разбить время стояния такси в аэропортах на три винтажа. Время в абсолютных значениях.
def vintagi (d, t1, t2, t_gr):
    c=[]
    cc=()
    d[t1] = pd.to_datetime(d[t1])
    d[t2] = pd.to_datetime(d[t2])
    d['delta'] = d[t2] - d[t1]
    d['delta'] = df['delta'].dt.components['hours']
    qq = int (d['delta'].max ())
    d[1] = [1 if x >= 0 else 0 for x in d['delta']]
    rr = int (qq/3)
    c.append(1)
    for i in range (3, qq,rr):
        
        d[i] = [1 if x > i else 0 for x in df['delta']]
        c.append(i)
        cc=tuple(c)
       

    dd = d.groupby([t_gr]).sum()[c].reset_index() 
    
    return dd

In [40]:
dd = vintagi (df, 'time_came', 'time_left', 'id_port')

In [41]:
dd

         id_port    1    3   6
0  Аэропорт Сочи   73   42  23
1        Внуково  157   94  38
2     Домодедово  328  186  86
3       Кольцово   92   50  19
4        Пулково  347  201  74
5    Шереметьево  225  129  64